// Global style reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-secondary {
  color: #afafaf; // Update with variable for secondary color
}

.av-demi {
  font-weight: 600;
  color: blue;
}

.av-bold {
  font-weight: 700;
  color: red;
}

.label {
  text-transform: uppercase;
  color: #afafaf; // Update with variable for secondary color
}

.logo-icon {
  max-width: 7.5rem;
  max-height: 1.5625rem;
}
