@import "/src/styles/partials/mixins";
@import "/src/styles/partials/variables";
@import "/src/styles/partials/typography";

// Global style reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-regular, $font-regular-typeface;
  color: $BrainFlix-Black;
  font-weight: $font-weight-regular;
}

h1 {
  @include h1PageHeader;
}

h2 {
  @include h2SectionHeader;
}

h3 {
  @include h3SubHeader;
}

h4 {
  @include h4LabelsAndButtons;
}

p {
  @include pBodyCopy;
}

.text-secondary {
  color: $Silver;
}

.logo-icon {
  max-width: 7.5rem;
  max-height: 1.5625rem;
  margin: $gutter-mobile 0;
}

.avatar {
  min-width: 2.25rem;
  min-height: 2.25rem;
  max-width: 2.25rem;
  max-height: 2.25rem;
  object-fit: cover;
  background-color: $Mercury;
  border-radius: 50%;
  @include tablet {
    min-width: 2.5rem;
    min-height: 2.5rem;
    max-width: 2.5rem;
    max-height: 2.5rem;
  }
}

button {
  flex-grow: 1;
  padding: 0.625rem; /* Making space for the icon on the left */
  border-radius: 0.25rem;
  border: none;
  width: 100%;
  height: 2.5rem;
  background-color: $BrainFlix-Blue;
  margin: $gutter-mobile 0;

  @include tablet {
    max-width: 9.375rem;
    padding: 0 2rem;
    margin: 0;
  }
}
