@use "./variables" as *;
// Breakpoints
//$tablet: 768px;
//$desktop: 1280px;

// Mixin for tablet screens and above
@mixin tablet {
  @media (min-width: 48rem) {
    @content;
  }
}

// Mixin for desktop screens and above
@mixin desktop {
  @media (min-width: 80rem) {
    @content;
  }
}

// Container padding
@mixin containerPadding {
  padding: 0 $padding-spacing-base-unit * 2;
  @include tablet {
    padding: 0 $padding-spacing-base-unit * 4;
  }
  @include desktop {
    padding: 0 $padding-spacing-base-unit * 10;
  }
}
