@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/global" as *;
@use "/src/styles/partials/typography" as *;

.video-details-page {
  display: flex;
  flex-direction: column;

  &__layout {
    width: 100%;
    @include tablet {
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      max-width: 80rem;
    }
  }

  &__video-copy {
    @include desktop {
      min-width: 53.6875rem;
      max-width: 53.6875rem;
    }
  }
  &__next-videos {
    @include desktop {
      border-left: 0.0625rem solid $Mercury;
    }
  }
  &__main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
