@import "/src/styles/partials/mixins";
@import "/src/styles/partials/variables";
@import "/src/styles/partials/global";

.now-playing-copy {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include containerPadding;

  &__details {
    display: flex;
    flex-direction: row;
    border-top: 1px solid $Mercury;
    border-bottom: 1px solid $Mercury;
    gap: $gutter-mobile * 2;
    min-height: fit-content;
    padding-bottom: $gutter-mobile;
    @include tablet {
      justify-content: space-between;
      border-top: none;
    }
  }

  &__stat {
    display: flex;
    flex-direction: row;
    gap: $padding-spacing-base-unit;
    align-items: flex-end;
  }

  &__publisher-date,
  &__stats {
    display: flex;
    flex-direction: column;
    gap: $padding-spacing-base-unit;
    @include tablet {
      flex-direction: row;
      gap: $gutter-tablet-desktop;
    }
  }
}
