@import "/src/styles/partials/mixins";
@import "/src/styles/partials/variables";
@import "/src/styles/partials/global";
.next-videos {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include containerPadding;

  &__card {
    display: flex;
    flex-direction: row;
  }

  &__thumbnail {
    width: 5rem;
    height: auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
