@import "/src/styles/partials/mixins";
@import "/src/styles/partials/variables";

.video-player {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__comments-form-area {
    display: flex;
    flex-direction: row;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__form-textarea {
    border: 0.125rem solid $Mercury;
    border-radius: 0.25rem;
    transition: border-color 0.5s;

    &:focus {
      border: 0.125rem solid $BrainFlix-Blue;
    }

    &:not(:focus):valid {
      border-color: $Mercury;
    }

    &.error {
      border-color: $error-state-color;
    }
  }

  &__form-submit {
    position: relative;
  }

  &__form-submit-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
  &__comment {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__comment-user-icon-wrapper {
    position: relative;
    min-width: 2.25rem;
    min-height: 2.25rem;
    max-width: 2.25rem;
    max-height: 2.25rem;
    border-radius: 50%;
    overflow: hidden; /* Ensures content stays within the circular bounds */
    @include tablet {
      min-width: 2.5rem;
      min-height: 2.5rem;
      max-width: 2.5rem;
      max-height: 2.5rem;
    }
    &::before {
      content: ""; /* Required for pseudo-elements */
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $Mercury;
      z-index: 1; /* Ensure it's on top of the image */
      opacity: 1;
    }
  }
  &__comment-copy-name-date {
    display: flex;
    flex-direction: row;
  }
}
