@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/global.scss" as *;

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include containerPadding;

  //switch to row for tablet/desktop
  @include tablet {
    flex-direction: row;
    justify-content: flex-end;
    gap: $gutter-tablet-desktop;
    margin: $padding-spacing-base-unit 0;
  }

  &__logo {
    @include tablet {
      margin-right: auto !important;
    }
  }

  &__search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    gap: $gutter-mobile;
    min-width: 15rem;
    @include tablet {
      max-width: 15rem;
    }
  }

  &__search {
    flex-grow: 1;
    padding: 0.625rem 0.625rem 0.625rem 2.5rem; /* Making space for the icon on the left */
    border: 0.0625rem solid $Mercury; //update color with variable
    border-radius: 0.25rem;
    transition: border-color 0.5s;
    background-color: $Alabaster;
    min-height: 2.5rem;

    &:focus {
      border: 0.125rem solid $BrainFlix-Blue;
    }

    &:not(:focus):valid {
      border-color: $Mercury;
    }

    &.error {
      border-color: $error-state-color;
    }
  }
  &__error {
    border-color: $error-state-color !important;
  }
  &__search-icon {
    position: absolute;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
  }

  &__user-icon {
    @include tablet {
      display: none;
    }

    &--tablet {
      display: none;
      @include tablet {
        display: flex;
      }
    }
  }
  &__button {
    position: relative;
  }
  &__button-icon {
    position: absolute;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
  }
}
