@import "/src/styles/partials/mixins";
@import "/src/styles/partials/variables";
@import "/src/styles/partials/global";

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //switch to row for tablet/desktop
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  &__search-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__search {
    flex-grow: 1;
    padding: 0.625rem 0.625rem 0.625rem 2.5rem; /* Making space for the icon on the left */
    border: 2px solid red; //update color with variable
    border-radius: 4px;
  }

  &__search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }

  &__user-icon {
    @include tablet {
      display: none;
    }

    &--tablet {
      display: none;
      @include tablet {
        display: flex;
      }
    }
  }
  &__button {
    position: relative;
  }
  &__button-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
}
