// components/VideoUpload/VideoUpload.scss
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.upload-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 0.125rem solid $Mercury;
  margin-bottom: $gutter-mobile;
  @include containerPadding;
  @include tablet {
    margin-bottom: $gutter-tablet-desktop;
  }

  &__form-container {
    //   max-width: 45rem;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    // gap: $gutter-mobile;
    @include tablet {
      flex-direction: column;
    }
    @include desktop {
      flex-direction: row;
      gap: $gutter-tablet-desktop;
    }
  }
  &__thumbnail {
    width: 100%;
    height: 100%;
    @include tablet {
      width: 50%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      //   border: 0.0625rem solid $Mercury;
      border-radius: 0.25rem;
      flex-grow: 1;
      display: flex;
    }
  }

  &__fields {
    width: 100%;
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }

  &__field {
    width: 100%;
    flex-shrink: 0;
  }
  &__field2 {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: $padding-spacing-base-unit;
    border: 0.0625rem solid $Mercury;
    border-radius: 0.25rem;
    background-color: $Alabaster;
    transition: border-color 0.3s;

    &:focus {
      border-color: $BrainFlix-Blue;
    }
  }

  &__textarea {
    resize: none;
    // margin-bottom: $padding-spacing-base-unit;
    @include desktop {
      height: 100%;
    }
  }

  &__buttons {
    // border: 1px solid blue;
    //   max-width: 45rem;
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }
  &__button--cancel {
    color: $BrainFlix-Blue;
    text-transform: uppercase;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-weight: $font-weight-bold;
    padding: 0.625rem; /* Making space for the icon on the left */
    height: 2.5rem;

    @include tablet {
      font-size: 0.75rem;
      line-height: 1.25rem;
      max-width: 9.375rem;
      width: 9.375rem;

      max-width: 9.375rem;
      padding: 0 2rem;
      margin: $gutter-mobile 0;
    }
  }
}
// 'button {
//   flex-grow: 1;
//   padding: 0.625rem; /* Making space for the icon on the left */
//   border-radius: 0.25rem;
//   border: none;
//   width: 100%;
//   background-color: $BrainFlix-Blue;

//   @include tablet {
//   }
// }'
// .video-upload {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   max-width: 600px;

//   &__form {
//     display: flex;
//     flex-direction: column;
//     gap: $gutter-mobile;
//     @include tablet {
//       gap: $gutter-tablet-desktop;
//     }
//   }

//   &__field {
//     display: flex;
//     flex-direction: column;
//   }

//   &__thumbnail {
//     width: 100%;
//     height: auto;
//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//       border: 0.0625rem solid $Mercury;
//       border-radius: 0.25rem;
//     }
//   }

//   &__input,
//   &__textarea {
//     width: 100%;
//     padding: $padding-spacing-base-unit;
//     border: 0.0625rem solid $Mercury;
//     border-radius: 0.25rem;
//     background-color: $Alabaster;
//     transition: border-color 0.3s;

//     &:focus {
//       border-color: $BrainFlix-Blue;
//     }
//   }

//   &__textarea {
//     resize: none;
//     height: 6rem;
//   }

//   &__buttons {
//     // display: flex;
//     gap: $gutter-mobile;
//     @include tablet {
//       gap: $gutter-tablet-desktop;
//     }

//     &__button {
//       &--publish {
//         background-color: $BrainFlix-Blue;
//         color: $White;
//       }

//       &--cancel {
//         background-color: $Silver;
//         color: $BrainFlix-Black;
//       }
//     }
//   }
// }
