@import "/src/styles/partials/mixins";
@import "/src/styles/partials/variables";
@import "/src/styles/partials/global";

.app {
  display: flex;
  flex-direction: column;

  &__layout {
    @include desktop {
      display: flex;
      flex-direction: row;
    }
  }
  &__next-videos {
    @include desktop {
      border-left: 0.0625rem solid $Mercury;
    }
  }
}
