@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/global" as *;
@use "./styles/partials/typography" as *;

// @use "components/CommentForm/CommentForm";
// @use "components/NavBar/NavBar";
// @use "components/NextVideos/NextVideos";
// @use "components/NowPlayingCopy/NowPlayingCopy";
// @use "components/VideoPlayer/VideoPlayer";

.app {
  display: flex;
  flex-direction: column;

  &__layout {
    @include desktop {
      display: flex;
      flex-direction: row;
    }
  }
  &__next-videos {
    @include desktop {
      border-left: 0.0625rem solid $Mercury;
    }
  }
}
